<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <link href="/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.yeti.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    
    <link href="/dist/css/flag-icon.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/emojisymbol.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/simplebar.min.css" rel="stylesheet" type="text/css" />
    <!-- css for rater-client (browser) -->
    <link href="/lib/css/rater-client.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div data-is="dev-home-content">
        <h1>Welcome to DEV HOME!!</h1>
        <p>{{pageContent}}</p>
        <p>
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you
            a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
            of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do
            not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who
            loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in
            which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious
            physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to
            enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the
            other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure
            of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame
            belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil
            and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled
            and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.
            But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that
            pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle
            of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains. But
            I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a
            complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of
            human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
            know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves
            or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which
            toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical
            exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a
            pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand,
            we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the
            moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs
            to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.
            These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when
            nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in
            certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures
            have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of
            selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains. But I must
            explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
            No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
            pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or
            desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain
            can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise,
            except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that
            has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce
            with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so
            blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those
            who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These
            cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing
            prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain
            circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have
            to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection:
        </p>
    </div>

    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/jquery-ui.min.js"></script>
    <script src="/dist/js/popper.min.js"></script>
    <script src="/dist/js/tooltip.min.js"></script>
    <script src="/dist/js/bootstrap.min.js">/* bootstrap required jQuery and popperjs. */</script>
    <script src="/dist/js/client.min.js"></script>
    <script src="/dist/js/moment.min.js"></script>

    <script src="/dist/js/simplebar.min.js"></script>

    <script src="/dist/js/riot.min.js"></script>

    <script src="/lib/js/nlib.js"></script>
    <script src="/lib/js/api.js"></script>
    <script src="/lib/js/services.js"></script>
    <script src="/lib/js/tags.js"></script>
    <script src="{{baseUrl}}/js/model.js"></script>
    <script src="{{baseUrl}}/js/app.js"></script>
</body>
</html>