<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link href="/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.united.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />

    <link href="/dist/css/flag-icon.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/emojisymbol.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/animate.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugin CSS -->
    <link href="/dist/css/magnific-popup.css" rel="stylesheet" type="text/css">    
    <!-- Custom styles for this template -->
    <link href="/dist/css/creative.min.css" rel="stylesheet" type="text/css">

    <style>
    </style>

</head>


<body id="page-top">
    <!-- Navigation -->
    <!--</div data-is="default-home-content"></div> -->

    <div class="container-fluid">
        <div data-is="page-nav-bar" title="Home" src=""></div>

    <div data-is="page-content-absolute">
            <div data-is="default-head-home-content"></div>
            <div data-is="default-about-home-content"></div>
            <div data-is="default-services-home-content"></div>
            <div data-is="default-product-home-content"></div>
            <div data-is="default-contact-home-content"></div>
    </div>

         <div data-is="page-footer"></div>
    </div>
    
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/jquery-ui.min.js"></script>
    <script src="/dist/js/popper.min.js"></script>
    <script src="/dist/js/tooltip.min.js"></script>
    <script src="/dist/js/bootstrap.min.js">/* bootstrap required jQuery and popperjs. */</script>
    <script src="/dist/js/client.min.js"></script>
    <script src="/dist/js/moment.min.js"></script>

    <script src="/dist/js/jquery.easing.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/dist/js/jquery.easing.min.js"></script>
    <script src="/dist/js/scrollreveal.min.js"></script>
    <script src="/dist/js/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/dist/js/creative.min.js"></script>


    <script src="/dist/js/riot.min.js"></script>

    <script src="/lib/js/nlib.js"></script>
    <script src="/lib/js/services.js"></script>
    <script src="/lib/js/tags.js"></script>
    <script src="{{baseUrl}}/js/model.js"></script>
    <script src="{{baseUrl}}/js/app.js"></script>

    <script>
        $(function () {
            //console.log('ready...');
        });
    </script>
</body>

</html>